In [48]:
# Import
import pandas as pd
import json
from pathlib import Path

# Adjust path if needed
DATA = Path("/Users/royphelps/OneDrive - Drexel University/Churn_Project/data")

# Load CSVs
employees = pd.read_csv(DATA / "workforce_employees.csv")
status_history = pd.read_csv(DATA / "workforce_status_history.csv")
departments = pd.read_csv(DATA / "workforce_departments.csv")

# Load JSON API metadata
with open(DATA / "workforce_employees_api.json", "r") as f:
    api_meta = json.load(f)

# Quick peek at the data
display(employees.head())
display(status_history.head())
display(departments.head())
api_meta

,employee_id,first_name,last_name,gender,birth_date,hire_date,termination_date,termination_reason,department_id,location,job_family,is_rehire
0,1001,Alice,Nguyen,F,1988-03-15,2019-01-10,NaN,NaN,HR,HQ,HR Generalist,False
1,1002,Brian,Lopez,M,1990-07-22,2020-05-01,2023-02-15,Voluntary - New Job,ENG,HQ,Data Engineer,False
2,1003,Chloe,Davis,F,1985-11-02,2018-09-17,NaN,NaN,FIN,HQ,Financial Analyst,False
3,1004,Derrick,Moore,M,1993-01-30,2021-03-05,2022-12-01,Involuntary - Performance,OPS,Plant A,Line Operator,False
4,1005,Elena,Rossi,F,1992-06-11,2021-11-20,NaN,NaN,OPS,Plant A,Line Operator,False

   employee_id effective_date      status        status_reason
0         1001     2019-01-10      Active                 Hire
1         1002     2020-05-01      Active                 Hire
2         1002     2023-02-15  Terminated  Voluntary - New Job
3         1003     2018-09-17      Active                 Hire
4         1004     2021-03-05      Active                 Hire

  department_id         department_name
0            HR         Human Resources
1           ENG             Engineering
2           FIN                 Finance
3           OPS              Operations
4            IT  Information Technology

{'source_system': 'WorkforceHR',
 'extracted_at': '2025-11-16T19:12:55.944666Z',
 'employees': [{'employee_id': 1001,
   'first_name': 'Alice',
   'last_name': 'Nguyen',
   'hire_date': '2019-01-10',
   'termination_date': None,
   'department_id': 'HR',
   'location': 'HQ'},
  {'employee_id': 1002,
   'first_name': 'Brian',
   'last_name': 'Lopez',
   'hire_date': '2020-05-01',
   'termination_date': '2023-02-15',
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1003,
   'first_name': 'Chloe',
   'last_name': 'Davis',
   'hire_date': '2018-09-17',
   'termination_date': None,
   'department_id': 'FIN',
   'location': 'HQ'},
  {'employee_id': 1004,
   'first_name': 'Derrick',
   'last_name': 'Moore',
   'hire_date': '2021-03-05',
   'termination_date': '2022-12-01',
   'department_id': 'OPS',
   'location': 'Plant A'},
  {'employee_id': 1005,
   'first_name': 'Elena',
   'last_name': 'Rossi',
   'hire_date': '2021-11-20',
   'termination_date': None,
   'department_id': 'OPS',
   'location': 'Plant A'},
  {'employee_id': 1006,
   'first_name': 'Frank',
   'last_name': 'Wong',
   'hire_date': '2017-08-01',
   'termination_date': None,
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1007,
   'first_name': 'Grace',
   'last_name': 'Kim',
   'hire_date': '2022-01-10',
   'termination_date': None,
   'department_id': 'HR',
   'location': 'HQ'},
  {'employee_id': 1008,
   'first_name': 'Hector',
   'last_name': 'Ruiz',
   'hire_date': '2020-02-14',
   'termination_date': '2024-01-31',
   'department_id': 'ENG',
   'location': 'Remote - West'},
  {'employee_id': 1009,
   'first_name': 'Isabel',
   'last_name': 'Brown',
   'hire_date': '2019-10-01',
   'termination_date': None,
   'department_id': 'FIN',
   'location': 'HQ'},
  {'employee_id': 1010,
   'first_name': 'Jared',
   'last_name': 'Patel',
   'hire_date': '2023-04-03',
   'termination_date': None,
   'department_id': 'OPS',
   'location': 'Plant B'},
  {'employee_id': 1011,
   'first_name': 'Kara',
   'last_name': 'Singh',
   'hire_date': '2022-09-12',
   'termination_date': '2024-03-15',
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1012,
   'first_name': 'Liam',
   'last_name': "O'Neil",
   'hire_date': '2016-06-20',
   'termination_date': None,
   'department_id': 'IT',
   'location': 'HQ'},
  {'employee_id': 1013,
   'first_name': 'Mia',
   'last_name': 'Garcia',
   'hire_date': '2024-02-01',
   'termination_date': None,
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1014,
   'first_name': 'Noah',
   'last_name': 'Hughes',
   'hire_date': '2018-01-15',
   'termination_date': '2021-07-31',
   'department_id': 'OPS',
   'location': 'Plant B'},
  {'employee_id': 1015,
   'first_name': 'Olivia',
   'last_name': 'Young',
   'hire_date': '2024-05-20',
   'termination_date': None,
   'department_id': 'HR',
   'location': 'HQ'}]}

In [8]:
employees.info()
status_history.info()
departments.info()
api_meta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   employee_id         15 non-null     int64
 1   first_name          15 non-null     object
 2   last_name           15 non-null     object
 3   gender              15 non-null     object
 4   birth_date          15 non-null     object
 5   hire_date           15 non-null     object
 6   termination_date    5 non-null      object
 7   termination_reason  5 non-null      object
 8   department_id       15 non-null     object
 9   location            15 non-null     object
 10  job_family          15 non-null     object
 11  is_rehire           15 non-null     bool
dtypes: bool(1), int64(1), object(10)
memory usage: 1.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   employee_id     20 non-null     int64
 1   effective_date  20 non-null     object
 2   status          20 non-null     object
 3   status_reason   20 non-null     object
dtypes: int64(1), object(3)
memory usage: 772.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   department_id    5 non-null      object
 1   department_name  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

{'source_system': 'WorkforceHR',
 'extracted_at': '2025-11-16T19:12:55.944666Z',
 'employees': [{'employee_id': 1001,
   'first_name': 'Alice',
   'last_name': 'Nguyen',
   'hire_date': '2019-01-10',
   'termination_date': None,
   'department_id': 'HR',
   'location': 'HQ'},
  {'employee_id': 1002,
   'first_name': 'Brian',
   'last_name': 'Lopez',
   'hire_date': '2020-05-01',
   'termination_date': '2023-02-15',
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1003,
   'first_name': 'Chloe',
   'last_name': 'Davis',
   'hire_date': '2018-09-17',
   'termination_date': None,
   'department_id': 'FIN',
   'location': 'HQ'},
  {'employee_id': 1004,
   'first_name': 'Derrick',
   'last_name': 'Moore',
   'hire_date': '2021-03-05',
   'termination_date': '2022-12-01',
   'department_id': 'OPS',
   'location': 'Plant A'},
  {'employee_id': 1005,
   'first_name': 'Elena',
   'last_name': 'Rossi',
   'hire_date': '2021-11-20',
   'termination_date': None,
   'department_id': 'OPS',
   'location': 'Plant A'},
  {'employee_id': 1006,
   'first_name': 'Frank',
   'last_name': 'Wong',
   'hire_date': '2017-08-01',
   'termination_date': None,
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1007,
   'first_name': 'Grace',
   'last_name': 'Kim',
   'hire_date': '2022-01-10',
   'termination_date': None,
   'department_id': 'HR',
   'location': 'HQ'},
  {'employee_id': 1008,
   'first_name': 'Hector',
   'last_name': 'Ruiz',
   'hire_date': '2020-02-14',
   'termination_date': '2024-01-31',
   'department_id': 'ENG',
   'location': 'Remote - West'},
  {'employee_id': 1009,
   'first_name': 'Isabel',
   'last_name': 'Brown',
   'hire_date': '2019-10-01',
   'termination_date': None,
   'department_id': 'FIN',
   'location': 'HQ'},
  {'employee_id': 1010,
   'first_name': 'Jared',
   'last_name': 'Patel',
   'hire_date': '2023-04-03',
   'termination_date': None,
   'department_id': 'OPS',
   'location': 'Plant B'},
  {'employee_id': 1011,
   'first_name': 'Kara',
   'last_name': 'Singh',
   'hire_date': '2022-09-12',
   'termination_date': '2024-03-15',
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1012,
   'first_name': 'Liam',
   'last_name': "O'Neil",
   'hire_date': '2016-06-20',
   'termination_date': None,
   'department_id': 'IT',
   'location': 'HQ'},
  {'employee_id': 1013,
   'first_name': 'Mia',
   'last_name': 'Garcia',
   'hire_date': '2024-02-01',
   'termination_date': None,
   'department_id': 'ENG',
   'location': 'HQ'},
  {'employee_id': 1014,
   'first_name': 'Noah',
   'last_name': 'Hughes',
   'hire_date': '2018-01-15',
   'termination_date': '2021-07-31',
   'department_id': 'OPS',
   'location': 'Plant B'},
  {'employee_id': 1015,
   'first_name': 'Olivia',
   'last_name': 'Young',
   'hire_date': '2024-05-20',
   'termination_date': None,
   'department_id': 'HR',
   'location': 'HQ'}]}

In [14]:
status_history.columns
status_history.head()

   employee_id effective_date      status        status_reason
0         1001     2019-01-10      Active                 Hire
1         1002     2020-05-01      Active                 Hire
2         1002     2023-02-15  Terminated  Voluntary - New Job
3         1003     2018-09-17      Active                 Hire
4         1004     2021-03-05      Active                 Hire

In [16]:
STATUS_DATE_COL = "effective_date"

In [18]:
status_history[STATUS_DATE_COL] = pd.to_datetime(status_history[STATUS_DATE_COL])

In [20]:
status_history_sorted = status_history.sort_values(
    ["employee_id", STATUS_DATE_COL]
)

latest_status = (
    status_history_sorted
    .groupby("employee_id")
    .tail(1)
    .loc[:, ["employee_id", "status", STATUS_DATE_COL]]
    .rename(columns={
        "status": "current_status",
        STATUS_DATE_COL: "status_as_of"
    })
)

latest_status.head()

   employee_id current_status status_as_of
0         1001         Active   2019-01-10
2         1002     Terminated   2023-02-15
3         1003         Active   2018-09-17
5         1004     Terminated   2022-12-01
6         1005         Active   2021-11-20

In [22]:
termination_rows = status_history[
    status_history["status"].str.lower() == "terminated"
].copy()

termination_rows = termination_rows.sort_values(
    ["employee_id", STATUS_DATE_COL]
)

termination_dates = (
    termination_rows
    .groupby("employee_id")[STATUS_DATE_COL]
    .min()
    .rename("termination_date")
)

termination_dates.head()

employee_id
1002   2023-02-15
1004   2022-12-01
1008   2024-01-31
1011   2024-03-15
1014   2021-07-31
Name: termination_date, dtype: datetime64[ns]

In [28]:
# Join employees with departments to get department_name
emp_dept = employees.merge(
    departments,
    on="department_id",
    how="left"
)

emp_dept.head()

,employee_id,first_name,last_name,gender,birth_date,hire_date,termination_date,termination_reason,department_id,location,job_family,is_rehire,department_name
0,1001,Alice,Nguyen,F,1988-03-15,2019-01-10,NaN,NaN,HR,HQ,HR Generalist,False,Human Resources
1,1002,Brian,Lopez,M,1990-07-22,2020-05-01,2023-02-15,Voluntary - New Job,ENG,HQ,Data Engineer,False,Engineering
2,1003,Chloe,Davis,F,1985-11-02,2018-09-17,NaN,NaN,FIN,HQ,Financial Analyst,False,Finance
3,1004,Derrick,Moore,M,1993-01-30,2021-03-05,2022-12-01,Involuntary - Performance,OPS,Plant A,Line Operator,False,Operations
4,1005,Elena,Rossi,F,1992-06-11,2021-11-20,NaN,NaN,OPS,Plant A,Line Operator,False,Operations

In [34]:
import pandas as pd

# --- 1) Clean snapshot date from JSON ---
snapshot_str = api_meta.get("extracted_at", None)

if snapshot_str is not None:
    # Parse as UTC, then drop timezone to make it timezone-naive
    snapshot_dt = pd.to_datetime(snapshot_str, utc=True).tz_convert(None)
else:
    snapshot_dt = pd.to_datetime("today").normalize()

# --- 2) Start from employees + departments ---
emp_dept = employees.merge(
    departments,
    on="department_id",
    how="left"
)

# --- 3) Merge in latest_status (Active / Terminated + status_as_of) ---
master_employee_df = emp_dept.merge(
    latest_status,
    on="employee_id",
    how="left"
)

# --- 4) Force hire_date and termination_date into clean datetime (no timezone) ---
master_employee_df["hire_date"] = pd.to_datetime(
    master_employee_df["hire_date"],
    utc=True
).dt.tz_convert(None)

master_employee_df["termination_date"] = pd.to_datetime(
    master_employee_df["termination_date"],
    utc=True,
    errors="coerce"     # this will keep NaT where there is no termination
).dt.tz_convert(None)

# --- 5) Build end_date: termination_date if present, else snapshot_dt ---
master_employee_df["end_date"] = master_employee_df["termination_date"].fillna(snapshot_dt)

# --- 6) Tenure metrics ---
master_employee_df["tenure_days"] = (
    master_employee_df["end_date"] - master_employee_df["hire_date"]
).dt.days

master_employee_df["tenure_years"] = master_employee_df["tenure_days"] / 365.25

master_employee_df.head()

,employee_id,first_name,last_name,gender,birth_date,hire_date,termination_date,termination_reason,department_id,location,job_family,is_rehire,department_name,current_status,status_as_of,end_date,tenure_days,tenure_years
0,1001,Alice,Nguyen,F,1988-03-15,2019-01-10,NaT,NaN,HR,HQ,HR Generalist,False,Human Resources,Active,2019-01-10,2025-11-16 19:12:55.944666,2502,6.850103
1,1002,Brian,Lopez,M,1990-07-22,2020-05-01,2023-02-15,Voluntary - New Job,ENG,HQ,Data Engineer,False,Engineering,Terminated,2023-02-15,2023-02-15 00:00:00.000000,1020,2.792608
2,1003,Chloe,Davis,F,1985-11-02,2018-09-17,NaT,NaN,FIN,HQ,Financial Analyst,False,Finance,Active,2018-09-17,2025-11-16 19:12:55.944666,2617,7.164956
3,1004,Derrick,Moore,M,1993-01-30,2021-03-05,2022-12-01,Involuntary - Performance,OPS,Plant A,Line Operator,False,Operations,Terminated,2022-12-01,2022-12-01 00:00:00.000000,636,1.741273
4,1005,Elena,Rossi,F,1992-06-11,2021-11-20,NaT,NaN,OPS,Plant A,Line Operator,False,Operations,Active,2021-11-20,2025-11-16 19:12:55.944666,1457,3.989049

In [36]:
master_employee_df["current_status"].value_counts(dropna=False)

current_status
Active        10
Terminated     5
Name: count, dtype: int64

In [38]:
master_employee_df.groupby("current_status")["tenure_years"].mean()

current_status
Active        5.158658
Terminated    2.708282
Name: tenure_years, dtype: float64

In [40]:
import numpy as np

# Make sure effective_date is clean and timezone-naive
status_history[STATUS_DATE_COL] = pd.to_datetime(
    status_history[STATUS_DATE_COL],
    utc=True
).dt.tz_convert(None)

# Add a month column (first day of the month)
status_history["month"] = status_history[STATUS_DATE_COL].dt.to_period("M").dt.to_timestamp()

# Classify each row as "hire", "termination", or "other"
status_history["event_type"] = np.where(
    status_history["status"].str.lower() == "terminated",
    "termination",
    np.where(
        status_history["status_reason"].str.lower() == "hire",
        "hire",
        "other"
    )
)

# Group by month and event_type
monthly_events = (
    status_history
    .groupby(["month", "event_type"])["employee_id"]
    .nunique()  # count distinct employees per event type per month
    .unstack(fill_value=0)
    .reset_index()
)

monthly_events.head()

event_type      month  hire  termination
0          2016-06-01     1            0
1          2017-08-01     1            0
2          2018-01-01     1            0
3          2018-09-01     1            0
4          2019-01-01     1            0

In [42]:
from pandas.tseries.offsets import MonthEnd

# Make sure our dates in master_employee_df are clean and timezone-naive
master_employee_df["hire_date"] = pd.to_datetime(
    master_employee_df["hire_date"],
    utc=True
).dt.tz_convert(None)

master_employee_df["termination_date"] = pd.to_datetime(
    master_employee_df["termination_date"],
    utc=True,
    errors="coerce"
).dt.tz_convert(None)

# Build a month range from first hire to snapshot
start_month = master_employee_df["hire_date"].min().to_period("M").to_timestamp()
end_month = snapshot_dt.to_period("M").to_timestamp()

month_index = pd.date_range(start=start_month, end=end_month, freq="MS")

headcount_rows = []

for m in month_index:
    month_start = m
    month_end = (m + MonthEnd(0))  # last day of the month
    
    # Employee is active AT END OF MONTH if:
    # hire_date <= month_end AND (no termination OR termination_date > month_end)
    active_mask = (
        (master_employee_df["hire_date"] <= month_end) &
        (
            master_employee_df["termination_date"].isna() |
            (master_employee_df["termination_date"] > month_end)
        )
    )
    
    headcount = active_mask.sum()
    
    headcount_rows.append({"month": month_start, "headcount_end": headcount})

headcount_by_month = pd.DataFrame(headcount_rows)

headcount_by_month.head()

       month  headcount_end
0 2016-06-01              1
1 2016-07-01              1
2 2016-08-01              1
3 2016-09-01              1
4 2016-10-01              1

In [44]:
# Combine monthly events with headcount
monthly_churn = monthly_events.merge(
    headcount_by_month,
    on="month",
    how="left"
)

# If there is no headcount for a given month (shouldn't really happen), fill with 0
monthly_churn["headcount_end"] = monthly_churn["headcount_end"].fillna(0)

# For safety, ensure hire/termination columns exist
if "hire" not in monthly_churn.columns:
    monthly_churn["hire"] = 0
if "termination" not in monthly_churn.columns:
    monthly_churn["termination"] = 0

# Churn rate = terminations during month / headcount at end of month
monthly_churn["churn_rate"] = monthly_churn.apply(
    lambda row: row["termination"] / row["headcount_end"]
    if row["headcount_end"] > 0 else 0,
    axis=1
)

# Sort by month
monthly_churn = monthly_churn.sort_values("month")

monthly_churn.tail(12)

        month  hire  termination  headcount_end  churn_rate
8  2021-03-01     1            0              9    0.000000
9  2021-07-01     0            1              8    0.125000
10 2021-11-01     1            0              9    0.000000
11 2022-01-01     1            0             10    0.000000
12 2022-09-01     1            0             11    0.000000
13 2022-12-01     0            1             10    0.100000
14 2023-02-01     0            1              9    0.111111
15 2023-04-01     1            0             10    0.000000
16 2024-01-01     0            1              9    0.111111
17 2024-02-01     1            0             10    0.000000
18 2024-03-01     0            1              9    0.111111
19 2024-05-01     1            0             10    0.000000

In [46]:
monthly_churn[["month", "hire", "termination", "headcount_end", "churn_rate"]]

        month  hire  termination  headcount_end  churn_rate
0  2016-06-01     1            0              1    0.000000
1  2017-08-01     1            0              2    0.000000
2  2018-01-01     1            0              3    0.000000
3  2018-09-01     1            0              4    0.000000
4  2019-01-01     1            0              5    0.000000
5  2019-10-01     1            0              6    0.000000
6  2020-02-01     1            0              7    0.000000
7  2020-05-01     1            0              8    0.000000
8  2021-03-01     1            0              9    0.000000
9  2021-07-01     0            1              8    0.125000
10 2021-11-01     1            0              9    0.000000
11 2022-01-01     1            0             10    0.000000
12 2022-09-01     1            0             11    0.000000
13 2022-12-01     0            1             10    0.100000
14 2023-02-01     0            1              9    0.111111
15 2023-04-01     1            0             10    0.000000
16 2024-01-01     0            1              9    0.111111
17 2024-02-01     1            0             10    0.000000
18 2024-03-01     0            1              9    0.111111
19 2024-05-01     1            0             10    0.000000